* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  color: #ebdbb2;
}

window#waybar {
  background: rgba(17, 17, 17, 0.5); /* 0.5 — степень прозрачности (от 0 до 1) */
}

/* Workspace Buttons */

#workspaces button label{
  color: #ebdbb2;
  padding: 0 2px;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button.active {
  background: #99a19e;
}


#cpuinfo #memory #clock, #battery, #pulseaudio, #tray, #language, #weather {
  padding: 0 10px;
  margin: 0 6px;
}

#language {
  margin: 0;
  color: #d79921;
}
 
#custom-play {
	padding: 0 20px 0 0;
	margin: 0;
  color: #0c6326;
	background: rgba(17, 17, 17, 0.5);
	border-radius: 20px;
}

#pulseaudio {
  margin: 0;
  color: #ede9e4;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
}

#battery {
  margin: 0;
  color: #458588;
}
/* 
#clock {
  margin: 0;
  color: #b16286;
}
*/
#tray {
  margin: 0;
  color: #d65d0e;
}
